@model IEnumerable<SonOfCod.Models.Marketing>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to the Son of Cod Information Page!</h2>
<p>Here you will find our latest updates about our sales, commerce, and produce!</p>
@foreach(var post in Model)
{
    <div class="marketPost">
        <div class="postImg">
            <img src="@post.ImageUrl" />
        </div>
        <div class="postContent">
            <h3>@post.Title</h3>
            <p>@post.Description</p>
        </div>
    </div>
    @if(User.Identity.IsAuthenticated)
    {
        @using (Html.BeginForm())
        {
        <div class="editPost">
            <h2>Edit Post..</h2>
            @Html.HiddenFor(Id => post.Id)

            @Html.LabelFor(ImageUrl => post.ImageUrl)
            @Html.TextBoxFor(ImageUrl => post.ImageUrl)
            <br />
            @Html.LabelFor(Title => post.Title)
            @Html.TextBoxFor(Title => post.Title)
            <br />
            @Html.LabelFor(Description => post.Description)
            @Html.TextBoxFor(Description => post.Description)
            <input type="submit" value="Edit Post" />
        </div>
        }
    }
}